<%- include('template/cabecera', {tituloWeb:'Pagina de Inicio'}) %>
<body>
    <header>
        <nav>
            <ol>
                <li>Inicio</li>
                <li>Nosotros</li>
                <li>Contacto</li>
            </ol>
            
        </nav>
    </header>
    <section>
        <h1 class="text-primary">Titulo de mi sitio web Index</h1>
        <h2><%= titulo %></h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores rerum animi illum aliquid. Maiores, ipsa sit amet et modi, ipsam tempore repudiandae doloremque vitae expedita maxime dicta non earum corrupti?</p>
    </section>
    <section>
        <form>
            <input>Nombre</input>
            <input>Apellido</input>
            <button>Click aquí</button>
        </form>
    </section>
    <footer>
        <p>Final de la pagina</p>
    </footer>

</body>
</html>

