<%- include('template/cabecera', {tituloWeb:'Pagina de Servicios'}) %>
<body>
    <h1 class="text-uppercase"><%= tituloServicios %></h1> <!--agregamos una clase en clase 11 mayo 2022 -->
    <button type="button" class="btn btn-secondary">Guardar</button>
</body>
</html>

